body{
    background-color:#yellow
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    .cabecalho__titulo{
    
    display: inline;
    }
    .cabecalho__imagem {
    width: dimensões_do_Figma_px;
    height: dimensões_do_Figma_px;
    }
    .cabecalho__menu{
    display: inline;
    }
    .cabecalho__menu-item{
    display: inline;
    margin-right: 150px;
    font-size: 25px;
    }
    background-color: gold;
}